@charset "UTF-8";
/* CSS Document */

body {
	font-family: Poppins, sans-serif;
	font-size: 100%;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: 700;
	color: #015a84;
}
h1 {
	font-size: 3.25rem;
	margin-bottom: 3rem;
}
h2 {
	font-size: 2.125rem;
	margin-bottom: 3rem;
}
em, i {
	font-style: italic;
}
strong, b {
	font-weight: 700;
	color: #015a84;
}
@media (min-width: 1425px){
	.bg-pattern-dark, .bg-pattern-light {
		background-size: 100%;
	}
}
section {
	/*min-height: 100vh;*/
}
header {
	z-index: 100;
}
header::before {
	content: '';
	width: 45vw;
	height: .8rem;
	background-color: #015a84;
	display: block;
}
.sticky-header {
	top: 0;
	
	position: sticky;
	position: -webkit-sticky;
}
nav a {
	white-space: nowrap;
	display: block;
}
nav ul {
	padding:0;
	margin:0;
	list-style: none;
}
.breakflag {
	display:none;
}
@media (min-width: 768px){
    ul.primary-nav {
        max-width: 800px;
    }
	.primary-nav a {
		padding-left: 1rem;
		margin-left: 1rem;
		border-left: 1px solid #fff;
	}
	.secondary-nav a {
		font-size: .85rem;
		color: #0f1a26;
		padding-left: 1.25rem;
	}
    nav li {
        display: inline-block;
    }
}
@media (min-width: 992px){
	.breakflag {
		display:block;
	}
	
}
.mobile-toggle {
	display: block;
	position: fixed;
	top: .5rem;
	right: .5rem;
	height: 40px;
	width: 40px;
	z-index:1000;
	font-size: 2rem;
	text-decoration: none;
	color: #aaa;
}
.mobile-toggle:hover {
	text-decoration: none;
	color: #999;
}
.mobile-toggle::before {
  font-family: 'csc' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  content: "\e9bd";	
}
.mobile-toggle.open::before {
  content: "\ea0f";	
}
.mobile-nav-container {
	display: block;
	position: fixed;
	top:auto;
	bottom: 100%;
	right: 0;
	transition: all .3s;
	width: 100%;
	height: 100%;
	z-index:100;
}
.mobile-nav-container.open {
	bottom: 0;
}
.mobile-nav.primary-nav {
	max-width: none;
	padding: 1rem 0;
	background-color: #ddd;
}
.mobile-nav a {
	display: block;
	padding: 1rem 2rem;
	text-decoration: none;
	background-color: #ddd;
	color: #013d59;
}
.mobile-nav a:hover {
	background-color: #eee;
}
.main-header {
	color: #fff;
}
.main-header nav a {
	color: #fff;
}
.inner-container {
	max-width: 1296px;
	margin-right: auto;
	margin-left: auto;
	padding: 3rem 1.5rem;
}
@media (min-width: 576px){
	.inner-container {
		padding: 3rem;
	}
}
.text-rev {
	color: #fff !important;
}
.text-dark {
	color: #0f1a26 !important;
}
.frame-wide {
	border-top: 1rem solid #f3f3f4;
	border-bottom: 1rem solid #f3f3f4;
	padding: 2rem 1rem;
	line-height: 1.6;
}
.text-larger {
	font-size: 1.25rem;
}
.spacer-bottom {
	padding-bottom: 100px;
}
.spacer-wide-bottom {
	padding-bottom: 200px;
}
.leading-quote::before {
	content:'';
	float: left;
	background-image: url("../images/icon-quote.png");
	display: block;
	height: 48px;
	width: 54px;
	background-repeat: no-repeat;
	background-position: left top;
	
}
.bg-dark {
	background-color: #013d59 !important;
}
.bg-pattern-dark {
	background-image: url( "../images/bg-dark.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-color: #013d59;
}
.bg-pattern-light {
	background-image: url( "../images/bg-light.jpg");
	background-repeat: no-repeat;
	background-position: center;
}
.bg-position-top {
	background-position: center top;
	padding-top: 100px;
}
.bg-position-bottom {
	background-position: center bottom;
}
hr.divider {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-top: 1px solid #015a84;
}

.bar-bottom {
	padding-bottom: 3rem;
	border-bottom: 1rem solid #f3f3f4;
	max-width: 50vw;
}
.bar-bottom-darker {
	padding-bottom: 3rem;
	border-bottom: 1rem solid #e2e4e5;
	max-width: 50vw;
	
}
.icon-container {
	min-width: 118px;
}
.arrow-right::after {
	content: "\ea3c";
	display: inline-block;
	vertical-align: middle;
	margin-left: .5rem;
	transform: rotate( 45deg );
  font-family: 'csc' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
button-pill.arrow-right:hover::after {
	background-image: url("../images/arrow-right-rev.png");
}
button-pull.arrow-right-rev:hover::after {
	background-image: url("../images/arrow-right.png");
}
button.pill-rev {
	box-shadow: none;
	border: 2px solid #fff;
	border-radius: 1.5rem;
	height: 3rem;
	padding:0 4rem;
	background-color: transparent;
	color: #fff;
	text-align: center;
}
button.pill-rev:hover {
	background-color: #fff;
	color: #015a84;
}
table.financials {
    border-spacing: 4px;
    border-collapse: separate;
}
table.financials td {
	text-align: right;
	padding: 0 .5rem .25rem 0;
}
table.financials td:first-child {
	text-align: left;
}
table.financials h4 {
	border-bottom: 1px solid #015a84;
	padding-bottom: .25rem;
	margin-bottom: 0;
	padding-top: 1rem;
}
h4.underline {
    border-bottom: 1px solid #015a84;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
}
.border {
	border: 1px solid #015a84 !important;
}
.financials-legend {
	display: inline-block;
}
.financials-legend::before {
	content: '';
	display: inline-block;
	height: 1rem;
	width: 1rem;
	margin-right: .5rem;
	border-radius: 50%;
	vertical-align: middle;
}
.financials-legend.dot1::before {
	background-color: #61a3ca; /*carolina*/
	border: 3px solid #cadeea;
}
.financials-legend.dot2::before {
	background-color: #015a84; /*reflex*/
	border: 3px solid #96b9c9;
}
.financials-legend.dot3::before {
	background-color: #018fc4; /*cobalt*/
	border: 3px solid #7bc2dc;
}
.financials-legend.dot4::before {
	background-color: #529f42; /*green*/
	border: 3px solid #c0d9bb;
}
/*
navy: 013d59
reflex: 015a84 - shadow 40% 96b9c9
text-dark: 0f1a26
carolina: 61a3ca - shadow 30% cadeea
cobalt: 018fc4 - shadow 50% 7bc2dc
green: 529f42 - shadow 33% c0d9bb

*/
.columns-md-3 p, .columns-md-2 p, .columns-lg-3 p {
-webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;	
}
@media (min-width: 768px){
	.columns-md-3 {
		columns: 3;
	}
	.columns-md-2 {
		columns: 2;
	}
}
@media (min-width: 992px){
	.columns-lg-3 {
		columns: 3;
	}
}